<mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab label="My Courses"> Content 1 </mat-tab>
    
    <mat-tab label="My Info"> 
      <div class="box">
        <pre>Name:                                   {{headerInfo.name}}</pre>
        <pre>StudentID:                                 {{headerInfo.studentId}}</pre>
        <pre>Status:                                    {{headerInfo.status}}</pre>
        <pre>Image:                                    <img class ="flag" src={{headerInfo.imageLocation}}></pre>
      </div>  
      
      
      
      
      
    
    </mat-tab>
    
    
    <mat-tab label="Display New or Used Cars"></mat-tab>
  </mat-tab-group>
